---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Button from "@components/ui/button.astro"; // Supondo que o Button esteja aqui
import Link from "@components/ui/link.astro";
import heroImage from "@assets/contact4.svg";
import { Picture } from "astro:assets";

---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contato</Fragment>
      <Fragment slot="desc">Estamos aqui para facilitar seu negócio.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <!-- Lado esquerdo com informações de contato e botão -->
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Entre em contato</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Converse conosco para um orçamento diferenciado.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Cascavel - Paraná</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:contato.bitej@gmail.com">contato.bitej@gmail.com</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+5545998100211">+55 (45) 99810-0211</a>
          </div>
        </div>

        <!-- Botão de envio de mensagem -->
        <div class="mt-5">
          <div class="flex mt-5">
            <Link
            href="#"
            href="https://wa.me//5545998100211?text=Tenho%20interesse%20em%20trabalhar%20com%20a%20BIT!.%20"
            target="_blank"
            class="flex gap-1 items-center justify-center"
            rel="noopener">
            <Icon class="text-white w-5 h-5" name="bx:bx-phone-incoming" />
    
             Entre em contato
          </Link>          </div>
        </div>
      </div>

      <!-- Lado direito com imagem -->
      <div class="flex justify-center items-center">
        <!-- Usando <Picture /> para a imagem -->
        <Picture
          src={heroImage}
          alt="contact"
          widths={[200, 400, 600]}
          sizes="(max-width: 800px) 100vw, 620px"
          loading="eager"
          format="svg"
        />
      </div>
    </div>
  </Container>
</Layout>
