---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  // {
  //   title: "Pricing",
  //   path: "/pricing",
  // },
  {
    title: "Sobre",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contato",
    badge: true,
    path: "/contact",
  },

];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/">
          <svg class="h-10 w-10 mr-2" width="181" height="222" viewBox="0 0 181 222" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M92.5 119L0.5 64.5V168L92.5 221.5V203V119ZM75.5 142.5L40.5 122.5V161.5L75.5 181.5V142.5Z" fill="#0A70B8"/>
            <path d="M136.5 27.5L45.5 87.5L0.5 60.5L95.5 0.5L136.5 27.5Z" fill="#0A70B8"/>
            <path d="M181 58L139 29L48.5 88.5L95.5 117L121.5 98.5V205.5L151.5 184.5V77.5L181 58Z" fill="#57585A"/>
          </svg>
        </a>
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">BIT</span><span
            class="text-slate-500">ej</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {/* {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )} */}

                {/* {!item.children && ( */} 
                {(
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          Orçamento
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <!-- <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div> -->
    </div>
  </header>
</Container>
