---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Desenvolvimento de Websites",
    description:
      "Criamos sites modernos, responsivos e otimizados, garantindo a melhor experiência para os usuários e destacando sua presença online.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Manutenção de Sistemas",
    description:
      "Realizamos manutenção contínua e aprimoramentos em sistemas, assegurando seu funcionamento estável e eficiente.",
    icon: "bx:bx-wrench",
  },
  {
    title: "Otimização de Desempenho",
    description:
      "Analisamos e otimizamos a performance de seus sistemas e sites para garantir rapidez e eficiência, melhorando a experiência do usuário.",
    icon: "bx:bx-bar-chart-alt",
  },
  {
    title: "Consultoria em Tecnologia",
    description:
      "Oferecemos consultoria especializada para ajudar empresas a tomarem decisões estratégicas na implementação e gestão de soluções tecnológicas.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Desenvolvimento de Aplicações Web",
    description:
      "Criamos aplicações web personalizadas, utilizando as tecnologias mais recentes para atender às necessidades específicas do seu negócio.",
    icon: "bx:bx-briefcase-alt-2",
  },
  {
    title: "Hospedagem e Suporte Técnico",
    description:
      "Fornecemos serviços de hospedagem e suporte técnico para garantir que seus sites e sistemas estejam sempre disponíveis e funcionando sem problemas.",
    icon: "bx:bx-cloud-drizzle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tudo sobre o melhor serviço de desenvolvimento
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    A BIT oferece soluções completas. Criamos sites eficientes e mantemos sistemas com inovação e qualidade.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
