---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "../assets/bit-logo.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "BITej"
  : "BITej - sua solução empresarial";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='181' height='222' viewBox='0 0 181 222' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M92.5 119L0.5 64.5V168L92.5 221.5V203V119ZM75.5 142.5L40.5 122.5V161.5L75.5 181.5V142.5Z' fill='%230A70B8'/><path d='M136.5 27.5L45.5 87.5L0.5 60.5L95.5 0.5L136.5 27.5Z' fill='%230A70B8'/><path d='M181 58L139 29L48.5 88.5L95.5 117L121.5 98.5V205.5L151.5 184.5V77.5L181 58Z' fill='%2357585A'/></svg>" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="BITej - sua solução empresarial"
      canonical={canonicalURL}
      twitter={{
        creator: "",
        site: "",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "BITej Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
